# City Bike Data
## Time span : May 2018 - May 2019

In [1]:
import pandas as pd

In [4]:
files = !ls *.csv #For Ipython only
files

['JC-201805-citibike-tripdata.csv',
 'JC-201806-citibike-tripdata.csv',
 'JC-201807-citibike-tripdata.csv',
 'JC-201808-citibike-tripdata.csv',
 'JC-201809-citibike-tripdata.csv',
 'JC-201810-citibike-tripdata.csv',
 'JC-201811-citibike-tripdata.csv',
 'JC-201812-citibike-tripdata.csv',
 'JC-201901-citibike-tripdata.csv',
 'JC-201902-citibike-tripdata.csv',
 'JC-201903-citibike-tripdata.csv',
 'JC-201904-citibike-tripdata.csv',
 'JC-201905-citibike-tripdata.csv']

In [5]:
df = pd.concat([pd.read_csv(f, header=None,low_memory=False) for f in files], keys=files)

In [6]:
df.head()

                                             0                         1   \
JC-201805-citibike-tripdata.csv 0  tripduration                 starttime
                                1           131  2018-05-01 07:29:57.5490
                                2            73  2018-05-01 08:13:58.2560
                                3          4929  2018-05-01 08:17:21.3110
                                4           432  2018-05-01 08:25:58.7150

                                                         2                 3   \
JC-201805-citibike-tripdata.csv 0                  stoptime  start station id
                                1  2018-05-01 07:32:08.6160              3183
                                2  2018-05-01 08:15:11.9230              3183
                                3  2018-05-01 09:39:31.0770              3183
                                4  2018-05-01 08:33:10.8960              3183

                                                   4                       5   \
JC-201805-citibike-tripdata.csv 0  start station name  start station latitude
                                1      Exchange Place              40.7162469
                                2      Exchange Place              40.7162469
                                3      Exchange Place              40.7162469
                                4      Exchange Place              40.7162469

                                                        6               7   \
JC-201805-citibike-tripdata.csv 0  start station longitude  end station id
                                1              -74.0334588            3184
                                2              -74.0334588            3184
                                3              -74.0334588            3183
                                4              -74.0334588            3202

                                                 8                     9   \
JC-201805-citibike-tripdata.csv 0  end station name  end station latitude
                                1       Paulus Hook            40.7141454
                                2       Paulus Hook            40.7141454
                                3    Exchange Place            40.7162469
                                4      Newport PATH            40.7272235

                                                      10      11          12  \
JC-201805-citibike-tripdata.csv 0  end station longitude  bikeid    usertype
                                1            -74.0335519   29617  Subscriber
                                2            -74.0335519   29288  Subscriber
                                3            -74.0334588   29520    Customer
                                4            -74.0337589   29595  Subscriber

                                           13      14
JC-201805-citibike-tripdata.csv 0  birth year  gender
                                1        1966       1
                                2        1975       1
                                3        1969       0
                                4        1973       1

In [7]:
df.to_csv("bike_data_past_year.csv")